<h3>
  Cart
</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<ol>
  <li
    *ngFor="let item of items"
    class="cart-item"
  >
    <span>
      {{ item.name }}
    </span>
    <span>
      {{ item.price | currency }}
    </span>
  </li>
</ol>

<form
  [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit()"
>
  <div>
    <label for="name">
      <input
        type="text"
        id="name"
        formControlName="name"
      >
    </label>
  </div>

  <div>
  <label for="address">
    <input
      type="text"
      id="address"
      formControlName="address"
    >
  </label>
</div>

  <button
    class="button"
    type="submit"
  >
    Purchase
  </button>
</form>
